.input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  text-align: left;
  gap: 2;
}

.input > label {
  font-size: 12px;
  line-height: 16px;
}

.input > label > span {
  display: none;
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.input > label > span.active {
  display: inline;
  color: var(--secondary-color);
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.input > sub {
  color: var(--primary-color);
  font-size: 12px;
  line-height: 16px;
  font-weight: 200;
  min-height: 16px;
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}