.list {
  display: grid;
  grid-template-columns: 320px;
  gap: 16px;
  justify-content: center;
}

@media screen and (min-width: 720px) {
  .list {
    grid-template-columns: 320px 320px;
  }
}

@media screen and (min-width: 1080px) {
  .list {
    grid-template-columns: 320px 320px 320px;
  }
}

.sort{
  display: block;
  text-align: right;
  padding: 16px 0;
} 

