:root {
  --white: #ffffff;
  --black: #000;
  --primary-color: #be1931;
  --secondary-color: #5c913b;
  --accent-color: #ffac33;
  font-family: 'Lexend', sans-serif;
}

html {
  background-color: var(--white);
}

a {
  all: unset;
}

button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  height: 32px;
  padding: 0px 16px;
  border-radius: 50px;
  background-color: #2222220d;
  color: #222;
  font-size: 12px;
  font-weight: 500;
} 

button:disabled {
  color: #aaa;
} 
button:disabled:hover {
  background-color:#2222220d;
  cursor: not-allowed;
}

button:hover {
    background-color: #2222221a;
}

input[type="text"], 
input[type="number"], 
input[type="date"],
input[type="checkbox"],
textarea,
select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: inherit;
  box-sizing: border-box;
  padding: 4px 6px;
  max-width: 100%;
}

input[type="date"] {
  max-width: 120px;
}

input[type="checkbox"]{
  outline: none;
  width: 16px;
}

input[data-state="error"],
select[data-state="error"],
textarea[data-state="error"] {
  border: 1px solid var(--primary-color);
}

input[data-state="server-error"],
select[data-state="server-error"],
textarea[data-state="server-error"] {
  border: 1px solid var(--primary-color);
}

input[data-state="valid"],
select[data-state="valid"],
textarea[data-state="valid"],
input[data-state="loading"],
select[data-state="loading"],
textarea[data-state="loading"] {
  border: 1px solid var(--secondary-color);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}




